<div class="my-container mx-auto">
    <!-- Toolbar -->
    <div class="border mb-5 p-3 d-flex justify-content-around">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': view === 'grid'}"
                (click)="view = 'grid'">Grid</button>
            <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': view === 'list'}"
                (click)="view = 'list'">List</button>
        </div>
        <div class="input-group w-50 d-flex ms-5 me-5">
            <div class="input-group-prepend">
                <span class="input-group-text fw-bold" id="inputGroup-sizing-default">Search</span>
            </div>
            <input type="text" [(ngModel)]="searchQuery" (input)="performSearch()" class="form-control"
                aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="w-50 d-flex">
            <span class="me-5 d-flex align-items-center fs-5 fw-bold">Sort By</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': sortby === 'default'}"
                    (click)="sortby = 'default'; sortByPrice(sortby)">
                    Default
                </button>
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': sortby === 'htl'}"
                    (click)="sortby = 'htl'; sortByPrice(sortby)">
                    Price (High to Low)
                </button>
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': sortby === 'lth'}"
                    (click)="sortby = 'lth'; sortByPrice(sortby)">
                    Price (Low to High)
                </button>
            </div>
        </div>
    </div>

    <div class="border p-5">

        <!-- Grid View -->
        <div class="grid-view" *ngIf="view === 'grid'">
            <div class="row g-5">
                <div class="col-3" *ngFor="let product of filteredProducts | paginate:{itemsPerPage:4, currentPage:p}">
                    <app-product [product]="product"></app-product>
                </div>
            </div>
        </div>

        <!-- List View -->
        <div class="list-view" *ngIf="view === 'list'">
            <div class="row mb-5" *ngFor="let product of filteredProducts | paginate:{itemsPerPage:4, currentPage:p}">
                <div class="col">
                    <app-product [view]="'list'" [product]="product"></app-product>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class=" mt-3 p-5 float-right">

        </pagination-controls>

    </div>
</div>