<div class="marginResult">
    <h3 class="text-center">Add New Product</h3>
    <a routerLink="/home" routerLinkActive="active">
        Back
    </a>
</div>

<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="newProduct" (ngSubmit)="addProductt()">
                <fieldset class="form-group">
                    <label>ProductId</label>
                    <input type="number" class="form-control" formControlName="ProductId" />
                    <div class="form-text text-danger"
                        *ngIf="productId.errors?.['required'] && (productId.dirty || productId.touched)">
                        ProductId is Required
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" formControlName="Title" />
                    <div class="form-text text-danger"
                        *ngIf="title.errors?.['required'] && (title.dirty || title.touched)">
                        Title is Required
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="title.errors?.['minlength'] && (title.dirty || title.touched)">
                        Title is to Short
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" formControlName="Description" />
                    <div class="form-text text-danger"
                        *ngIf="description.errors?.['required'] && (description.dirty || description.touched)">
                        Description is Required
                    </div>
                    <div class="form-text text-danger"
                        *ngIf="description.errors?.['minlength'] && (description.dirty || description.touched)">
                        Description is to Short
                    </div>
                </fieldset>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">CategoryId</label>
                    <select type="number" class="form-control" id="exampleFormControlSelect1"
                        formControlName="CategoryId">
                        <option></option>
                        <option value=1>Juice</option>
                        <option value=2>Sweet Sauce</option>
                        <option value=3>Chilli Sauce</option>
                        <option value=6>Red Chilli Sauce</option>
                        <option value=4>Bakery Product - Bread</option>
                        <option value=5>Bakery Product - Cookies</option>
                    </select>
                    <div class="form-text text-danger"
                        *ngIf="categoryId.errors?.['required'] && (categoryId.dirty || categoryId.touched)">
                        CategoryId is Required
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">OfferId</label>
                    <select type="number" class="form-control" id="exampleFormControlSelect1" formControlName="OfferId">
                        <option></option>
                        <option value=0>No Offer</option>
                        <option value=1>25%</option>
                        <option value=2>15%</option>
                        <option value=3>5%</option>
                        <option value=4>40%</option>
                        <option value=5>10%</option>

                    </select>
                    <div class="form-text text-danger"
                        *ngIf="offerId.errors?.['required'] && (offerId.dirty || offerId.touched)">
                        OfferId is Required
                    </div>
                </div>

                <fieldset class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" formControlName="Price" />
                    <div class="form-text text-danger"
                        *ngIf="price.errors?.['required'] && (price.dirty || price.touched)">
                        Price is Required
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Quantity</label>
                    <input type="number" class="form-control" formControlName="Quantity" />
                    <div class="form-text text-danger"
                        *ngIf="quantity.errors?.['required'] && (quantity.dirty || quantity.touched)">
                        Quantityis Required
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Image URL</label>
                    <input type="url" class="form-control" formControlName="ImageUrl" />
                    <div class="form-text text-danger"
                        *ngIf="imageUrl.errors?.['required'] && (imageUrl.dirty || imageUrl.touched)">
                        ImageUrl is Required
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-success" [disabled]="newProduct.invalid">Add</button>
                &nbsp;
                <button type="reset" class="btn btn-danger">Clear</button>
            </form>
        </div>
    </div>
</div>